*,
*::after,
*::before {
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    background-color: #4b145b;
    color: #102a42;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.app {
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 2fr;
    width: 90vw;
    padding: 30px;
    grid-column-gap: 30px;

}

.card {
    padding: 16px 24px;
    border: 2px solid #eae6eb;
    border-radius: 4px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-container {
    display: grid;
    grid-template-rows: repeat(auto-fill, auto);
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr;
}

h4 {
    letter-spacing: 0.1rem;
    text-transform: capitalize;
    line-height: 1.25;
    font-size: 1rem;
        letter-spacing: 0.1rem;

}

.text-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

h3 {
    line-height: 1.2;
    font-weight: 500;
    font-size: 1.75rem;
    letter-spacing: 0.1rem;
    text-transform: capitalize;
    line-height: 1.25;
}

.icon-circle {
    height: 32px;
    width: 32px;
    border-radius: 50%;
    border-color: transparent;
    background-color: #eae6eb;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #b4345c;
    cursor: pointer;
}