h2 {
    line-height: 1;
    font-size: 2.5rem;
    letter-spacing: 1.6px;
    text-transform: capitalize;
    text-align: center;
}

.underline {
    width: 80px;
    height: 4px;
    background-color: #2caeba;
    margin-top: 10px;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}